# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.vscode
.settings
.idea
.project

# ignore this directory because it contains the server JAR files for each project
./lib